#vidanova {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(255, 250, 240);
    background: linear-gradient(180deg, rgba(255, 250, 240, 1) 0%, rgba(255, 250, 250, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

#section-vida-nova {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    background: rgb(255, 250, 240);
    background: linear-gradient(180deg, rgba(255, 250, 240, 1) 0%, rgba(255, 250, 250, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

#div-vida-nova-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#div-vida-nova {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#label-vida-nova {
    color: #525252;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Georama', sans-serif;
    text-align: justify;
}

#label-vida-nova-versiculos {
    font-style: italic;
    font-family: 'Georama', sans-serif;
    text-align: center;
    line-height: 25px;
}

#label-title-vida-nova {
    font-family: 'Georama', sans-serif;
    font-size: 25px;
    color: #333333;
    margin-top: 15px;
    margin-bottom: 15px;
}

#label-vida-nova {
    font-size: 17px;
    line-height: 30px;
    font-family: 'Georama', sans-serif;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    #div-vida-nova-container {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    #div-vida-nova-container {
        width: 85%;
    }
}